name: "Sample Device"

contacts:
  IN: {type: SOURCE, control_channel: 1, measure_channel: 1, breakout_channel: 1, v_lower_bound: -3.0, v_upper_bound: 3.0}
  OUT: {type: DRAIN, control_channel: 2, measure_channel: 2, breakout_channel: 2, v_lower_bound: -3.0, v_upper_bound: 3.0}

gates:
  G1: {type: BARRIER, control_channel: 3, measure_channel: 3, breakout_channel: 3, v_lower_bound: -3.0, v_upper_bound: 3.0}
  G2: {type: PLUNGER, control_channel: 4, measure_channel: 4, breakout_channel: 4, v_lower_bound: -3.0, v_upper_bound: 3.0}
  G3: {type: BARRIER, control_channel: 5, measure_channel: 5, breakout_channel: 5, v_lower_bound: -3.0, v_upper_bound: 3.0}
  G4: {type: PLUNGER, control_channel: 6, measure_channel: 6, breakout_channel: 6, v_lower_bound: -3.0, v_upper_bound: 3.0}
  G5: {type: BARRIER, control_channel: 7, measure_channel: 7, breakout_channel: 7, v_lower_bound: -3.0, v_upper_bound: 3.0}
  G6: {type: BARRIER, control_channel: 8, measure_channel: 8, breakout_channel: 8, v_lower_bound: -1.5, v_upper_bound: 1.5}
  G7: {type: PLUNGER, control_channel: 9, measure_channel: 9, breakout_channel: 9, v_lower_bound: -1.5, v_upper_bound: 1.5}
  G8: {type: BARRIER, control_channel: 10, measure_channel: 10, breakout_channel: 10, v_lower_bound: -1.0, v_upper_bound: 1.0}
  G9: {type: RESERVOIR, control_channel: 11, measure_channel: 11, breakout_channel: 11, v_lower_bound: -3.0, v_upper_bound: 3.0}
  G10: {type: RESERVOIR, control_channel: 12, measure_channel: 12, breakout_channel: 12, v_lower_bound: -3.0, v_upper_bound: 3.0}

groups:
  control:
    name: "Control DUT"
    gates: [G1, G2, G3, G4, G5, G9, G10]
    contacts: [IN, OUT]
  sensor:
    name: "Charge Sensor"
    gates: [G6, G7, G8, G9, G10]
    contacts: [IN, OUT]

routines:
  - name: health_check
    group: control
    routines:
      - name: leakage_test
        group: control
        parameters:
          leakage_threshold_resistance: 50e6
          leakage_threshold_count: 0

      - name: global_accumulation
        group: control
        parameters:
          step_size: 1e-2

      - name: reservoir_characterization
        group: control
        parameters:
          step_size: 1e-2

      - name: finger_gate_characterization
        group: control
        parameters:
          step_size: 1e-2

instruments:
  - name: qdac2
    type: GENERAL
    ip_addr: 192.168.1.100
    port: 5025
    driver: qdac2
    measurement_aperature_s: 1e-3
    measurement_duration: 1e-3
    sample_time: 10e-6
    slew_rate: 100.0
    breakout_line: 9

  - name: qswitch
    type: BREAKOUT_BOX
    driver: qswitch
    ip_addr: 192.168.1.102
    port: 5025
